<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjekuaitong.mapping.OrderMapper">
	<insert id="insert" parameterType="com.tjekuaitong.entity.Order">
		insert into Order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderid != null">
				orderid,
			</if>
			<if test="product_id != null">
				product_id,
			</if>
			<if test="product_name != null">
				product_name,
			</if>
			<if test="product_desc != null">
				product_desc,
			</if>
			<if test="product_grade != null">
				product_grade,
			</if>
			<if test="product_type != null">
				product_type,
			</if>
			<if test="product_price != null">
				product_price,
			</if>
			<if test="actual_price != null">
				actual_price,
			</if>
			<if test="sepc_id != null">
				sepc_id,
			</if>
			<if test="sepc_price != null">
				sepc_price,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="nickName != null">
				nickName,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="picture_id != null">
				nickName,
			</if>
			<if test="add_time != null">
				add_time,
			</if>
			<if test="pay_status != null">
				pay_status,
			</if>
			<if test="order_status != null">
				order_status,
			</if>
			<if test="sepc_status != null">
				sepc_status,
			</if>
			<if test="pay_time != null">
				pay_time,
			</if>
			<if test="sepc_time != null">
				sepc_time,
			</if>
			is_hidden
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderid != null">
				#{orderid},
			</if>
			<if test="product_id != null">
				#{product_id},
			</if>
			<if test="product_name != null">
				#{product_name},
			</if>
			<if test="product_desc != null">
				#{product_desc},
			</if>
			<if test="product_grade != null">
				#{product_grade},
			</if>
			<if test="product_type != null">
				#{product_type},
			</if>
			<if test="product_price != null">
				#{product_price},
			</if>
			<if test="actual_price != null">
				#{actual_price},
			</if>
			<if test="sepc_id != null">
				#{sepc_id},
			</if>
			<if test="sepc_price != null">
				#{sepc_price},
			</if>
			<if test="openid != null">
				#{openid},
			</if>
			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="userid != null">
				#{userid},
			</if>
			<if test="add_time != null">
				#{add_time},
			</if>
			<if test="pay_status != null">
				#{pay_status},
			</if>
			<if test="order_status != null">
				#{order_status},
			</if>
			<if test="sepc_status != null">
				#{sepc_status},
			</if>
			<if test="pay_time != null">
				#{pay_time},
			</if>
			<if test="sepc_time != null">
				#{sepc_time},
			</if>
			0
		</trim>
	</insert>
	<select id="selectList" resultType="com.tjekuaitong.entity.Order"
		parameterType="String">
		select * from oeder
		<where>
			<if test="product_id !=null">
				and product_id = #{product_id}
			</if>
			<if test="product_type !=null">
				and product_type = #{product_type}
			</if>
			<if test="sepc_id !=null">
				and sepc_id = #{sepc_id}
			</if>
			<if test="openid !=null">
				and openid = #{openid}
			</if>
			<if test="userid !=null">
				and userid = #{userid}
			</if>
			<if test="pay_status !=null">
				and pay_status = #{pay_status}
			</if>
			<if test="order_status !=null">
				and order_status = #{order_status}
			</if>
			<if test="sepc_status !=null">
				and sepc_status = #{sepc_status}
			</if>
			<if test="orderid !=null">
				and orderid = #{orderid}
			</if>
			and is_hidden='0'
		</where>
		order by add_time desc
	</select>


	<select id="selectOne" resultType="com.tjekuaitong.entity.Order"
		parameterType="String">
		select * from oeder
		<where>
			<if test="product_id !=null">
				and product_id = #{product_id}
			</if>
			<if test="product_type !=null">
				and product_type = #{product_type}
			</if>
			<if test="sepc_id !=null">
				and sepc_id = #{sepc_id}
			</if>
			<if test="openid !=null">
				and openid = #{openid}
			</if>
			<if test="userid !=null">
				and userid = #{userid}
			</if>
			<if test="pay_status !=null">
				and pay_status = #{pay_status}
			</if>
			<if test="order_status !=null">
				and order_status = #{order_status}
			</if>
			<if test="sepc_status !=null">
				and sepc_status = #{sepc_status}
			</if>
			<if test="orderid !=null">
				and orderid = #{orderid}
			</if>
			and is_hidden='0'
		</where>
		order by add_time desc
	</select>
	<update id="update" parameterType="com.tjekuaitong.entity.Picture">
		update order
		<set>
			<if test="pay_status != null">
				pay_status = #{pay_status,jdbcType=VARCHAR},
			</if>
			<if test="order_status != null">
				order_status = #{order_status,jdbcType=VARCHAR},
			</if>
			<if test="sepc_status != null">
				sepc_status = #{sepc_status,jdbcType=VARCHAR},
			</if>
			<if test="pay_time != null">
				pay_time = #{pay_time,jdbcType=VARCHAR},
			</if>
			<if test="sepc_time != null">
				sepc_time = #{sepc_time,jdbcType=VARCHAR},
			</if>
			<if test="is_hidden != null">
				is_hidden = #{is_hidden,jdbcType=Integer},
			</if>
		</set>
		<where>
			<if test="orderid !=null">
				and orderid = #{orderid,jdbcType=VARCHAR}
			</if>
			<if test="product_id !=null">
				and product_id = #{product_id,jdbcType=Integer}
			</if>
			<if test="userid !=null">
				and userid = #{userid,jdbcType=VARCHAR}
			</if>
			<if test="id !=null">
				and id = #{id,jdbcType=Integer}
			</if>
		</where>
	</update>

</mapper>