<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjekuaitong.mapping.ProductMapper">
	
	<select id="selectList" resultType="com.tjekuaitong.entity.Product"
		parameterType="String">
		select * from Product
		<where>
			<if test="product_id !=null">
				and product_id = #{product_id}
			</if>
			<if test="product_name !=null">
				and product_name like '%#{product_name,jdbcType=VARCHAR}%'
			</if>
			<if test="product_desc !=null">
				and product_desc = #{product_desc,jdbcType=VARCHAR}
			</if>
			<if test="product_type !=null">
				and product_type = #{product_type,jdbcType=VARCHAR}
			</if>
			<if test="product_grade !=null">
				and product_grade = #{product_grade,jdbcType=VARCHAR}
			</if>
			<if test="product_price !=null">
				and product_price = #{product_price,jdbcType=Integer}
			</if>
			<if test="product_num !=null">
				and product_num = #{product_num,jdbcType=Integer}
			</if>
		</where>

	</select>

</mapper>