*{
    margin: 0;
    padding:0;
    text-decoration: none;
}
.modify{
    width: 45%;
    height: 450px;
    border-radius:8px;
    margin: 10% auto 0 auto;
    position: relative;
}
.form-horizontal{
    margin-top: 10%;
}
.form-group{
    margin: 0 auto 6% 7%;
}
.form-control{
    width: 60%;
}
.form-horizontal .form-group {
   margin-right: 0;
   margin-left: 0;
}
.btn{
    position: absolute;
    top: 83%;
    right: 10%;
    width: 57px;
    height: 32px;
    display: block;
    background-color: #00aaef;
}